
.edit-profile {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 1%;
}
body {
    background-color: white;
    overflow-x: hidden;
    // height: 100%;

	// font-family: "Open Sans", sans-serif;
}
h2 {
	// color: #333;
	text-align: center;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
	margin: 30px 0 60px;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #8fbc54;
	left: 0;
	right: 0;
	bottom: -10px;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	padding: 0 70px;
}
.carousel .carousel-item {
	// color: #999;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	min-height: 290px;
}
.carousel .carousel-item .img-box {
	// width: 800px;
	height: 500px;
	margin: 0 auto;
	padding: 5px;
	// border: 1px solid #ddd;
	// border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	// border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	// color: #7AA641;
}
.carousel-control-prev, .carousel-control-next {
	width: 40px;
	height: 40px;
	margin-top: -20px;
	top: 50%;
	background: none;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 68px;
	line-height: 42px;
	position: absolute;
	display: inline-block;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 12px;
	height: 12px;
	margin: 1px 3px;
	border-radius: 50%;
	border: none;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.imagesectionabove {
	width: 800px; height: 600px;
}
.gallery-item {
    display: inline-block;
    position: relative;
  }
  
  .gallery-img {
    //   display: flex;
    //   flex-direction: row;
    //   flex-flow: row wrap;
      width: 250px;
      height: 200px;
	  padding-bottom: 2%;
    //   margin: 20px;
  }
  .gallery-item:hover .gallery-button {
    opacity: 1; /* change opacity on wrapper div hover */
  }
  .gallery-button {
	opacity: 0;
   
   transition: opacity 0.3s ease-in;
   display: block;
   position: absolute;
   width: 160px;
   height: 40px;
   margin: auto;
   // background-color: darkred;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   cursor: pointer;
 }


 input[type='file'] {
	opacity:0;
	display: none; 
   // display:flex;
   // align-items:center;  
  }
  .doctor-section {
	  background-color: black;
	  margin-top:20px ;
  }
 .our-services {
	  padding: 5%;
  }
  .cardsection {
	  background-color: white;
	  width: 300px;
	  border-radius: 10px;
	  display: flex;
	  flex-direction: row;
	  align-items: center;
	//   justify-content: center;
  }
  .image-sec {
	border-radius: 10px;
	  background-color: yellow;
	  align-items: center;
	  display: flex;
	  flex-flow: row wrap;
	//   flex-wrap: wrap-row;

  }
  .cardimage {
	  width: 150px;
	  padding: 10px;
	  border-radius: 30px;
  }
  .allcards {
	margin:20px
  }
  .cardbackground {
	  padding-top:5%;
	  background-color: white;
	  border-radius: 10px;
	  padding-bottom:5%;
	  margin-left: 2%; 	 	
  }
  .serviceflex {
	  display: flex;
	  flex-direction: row;
  }
  .matter {
	  display: flex;
	  flex-direction: column;
  }
  .servicecontent {
	  padding: 2%;
  }
  .imagesectionservice{
	// border-radius: 60%;
	width: 150px;
	height: 150px;
	
	// border: 10px solid lightgray;
	position: relative;
    left: -30px;

	// box-shadow: 10spx 10px #888888;
	
  }
  .cardsinservice {
	  width: 400px;
	//   border-radius: 60%;
	  border: 10px solid lightgray;
	//   box-shadow: darkblue;
  }
  .recent-news {
	  background-color: white;
  }
  .recentcards{
	  background-color: black;
	  color: white;
	  width: 300px;
	  border-radius: 0px;
	//   padding: 2%;
	// margin/: 2%;
	

	//   margin-bottom: 10px;
  }
  .imagesectioninrecentnews {
	  width: 300px;
	  padding: 2%;
  }
  .langsection {
	  font-size: 10px;
  }
  .fourcards {
	display: inline-block;
	padding: 2%;

  }






.allcardsinservice {
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	// margin-left: 20%;
	justify-content: space-between;
	// margin-bottom: 10px;
	// background-color: maroon;
}
.doctorcardsection {
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;


}
.doctorcardsectioncard {
	width: 600px;
}
.mainmatter {
	// display: flex;
	// flex-direction: row;
	// justify-content: space-between;
	margin-top: 3%;
	
	// flex-wrap: r;
}
.servicecard {
	width: 400px;
	height: 200px;
	// position: relative;
	border: 1pt solid #E8E8E8;
	border-radius: 10px;
	box-shadow: 2pt 4pt 6pt 0pt #00000029;
	margin-bottom: 10px;
	

}

.imgstylingservice {
	border: 1pt solid #E8E8E8;
	width: 150px;
	height: 150px;
	margin-left: -20%;
	box-shadow: -3pt 22pt 6pt 0pt #00000029;

	// background-color: lightsalmon;
}
.contentservice {
	// background-color:/ lightgreen;
	width: 300px;
}
.moreoption {
	// background-color: magenta;
}

.gapsection {
	// background-color: maroon;
	padding: 2%;
}
@media only screen and (max-width: 600px) {
	.imgstylingservice {
		margin-left: 0%;
	}
	.servicecard {
		height: 400px;
	}
  }
























  