<!-- <div class="main-info">
    <div class="logo-sec">
        <img src="../../assets/logo-white.png">
    </div>
    <div class="edit-profile">
        <div >
            <img src="../../assets/arrow_back_black_24dp.svg" >
        </div>
        <div>
            <h1>&nbsp;&nbsp;&nbsp;Edit Your Profile</h1>
        </div>
    </div>
</div>
<ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/download.jpg" alt="Angular Carousel 1">
      </div>
      <div class="carousel-caption">
        <h3>Title Goes Here</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/download.jpg" alt="Angular Carousel 2">
      </div>
      <div class="carousel-caption">
        <h3>Title Goes Here</h3>
        <p>Consectetur tortor volutpat pretium.</p>
      </div>
    </ng-template>
  </ngb-carousel>




  <div class="second-section">
          <div class="cards-section">
              <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h1>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est ullam odio beatae reprehenderit nostrum rem ipsum quidem, molestias dolor praesentium aut dolorum fugit deleniti aliquid laudantium facilis? Iure, optio consequuntur? </p>
          </div>
  </div> -->
  <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Bootstrap Testimonial Carousel</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700|Open+Sans">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>
<body>

<form [formGroup]="form">
  <div class="main-info">
    <div class="logo-sec">
        <img src="../../assets/logo-white.png">
        <button (click)="publish()">Publish</button>
    </div>
    <div class="edit-profile">
        <div >
            <img src="../../assets/arrow_back_black_24dp.svg" >
        </div>
        <div>
            <h1>&nbsp;&nbsp;&nbsp;Edit Your Profile</h1>
        </div>
    </div>
</div>
<div class="containerfluid-xl">
	<div class="row">
		<div class="col-lg-8 mx-auto">
      <br>
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Carousel indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>   
				<!-- Wrapper for carousel items -->
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="img-box"><img src="../../assets/download.jpg" alt=""></div>
            <!-- <input formControlName="cauroselone"> -->
            <ckeditor [editor]="Editor" formControlName="cauroselone"></ckeditor>
						<!-- <p contenteditable="true"  formControlName="cauroselone" class="testimonial"></p> -->
						<p class="overview"><b>Paula Wilson</b>, Media Analyst</p>
					</div>
					<div class="carousel-item" > 
						<div class="img-box"><img src="../../assets/download.jpg" alt=""></div>
            <ckeditor [editor]="Editor" formControlName="cauroseltwo"></ckeditor>

						<!-- <p contenteditable="true" class="testimonial"></p> -->
					</div>
					<div class="carousel-item" >
						<div class="img-box"><img src="../../assets/download.jpg" alt=""></div>
            <ckeditor [editor]="Editor" formControlName="cauroselthree"></ckeditor>
						<!-- <p class="testimonial"></p> -->
					</div>
				</div>
				<!-- Carousel controls -->
				<a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>
				<a class="carousel-control-next" href="#myCarousel" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>
	</div>
</div>
<br>
<br>
<div class="container">
<div class="row">
  <div class="card col" style="width: 25rem;">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title">
        <ckeditor [editor]="Editor" formControlName="cardtitle"></ckeditor>

      </h5>
      <p class="card-text">
        <ckeditor [editor]="Editor" formControlName="cardtext"></ckeditor>

      </p>
      <button href="#" class="btn btn-primary">Go somewhere</button>
    </div>
  </div>
  <div class="images col">
    <div class="row">
      <div class="col gallery-item">
        <img  class="gallery-img" src="{{imagearray[0]}}">
        
        <div class="btn btn-primary gallery-button">
          <input type="file" id="file" formControlName="image" (change)="selectFile($event,0)"><label for="file"
          style="cursor: pointer;">Upload</label>
        </div><br>
      </div>
      <div class="col gallery-item">
        <img class="gallery-img" src="{{imagearray[1]}}">
        <button class="btn btn-primary gallery-button" (click)="selectFile($event,1)">UPLOAD</button><br>


      </div>
    </div>
    <div class="row">
      <div class="col gallery-item">
        <img class="gallery-img" src="{{imagearray[2]}}">
        <button class="btn btn-primary gallery-button" (click)="selectFile($event,2)">UPLOAD</button><br>

      </div>
      <div class="col gallery-item">
        <img class="gallery-img" src="{{imagearray[3]}}">
        <button class="btn btn-primary gallery-button" (click)="selectFile($event,3)">UPLOAD</button><br>


      </div>
    </div> 
  </div>
</div>
</div>
</form>


</body>
</html>
