<div class="main-head">
    <div class="logo">
        <h1 >Jaldeee</h1>
    </div>
    <form [formGroup]="form">
    <div class="mains-section">

        <div class="head">
            <h1  formControlName="heading"  contenteditable="true">Template Which You can Choose</h1>
            <button mat-raised-button>Edit</button>
        </div>
        <div class="image-section">
            <img src="../../assets/download.jpg">
        </div>
        
    </div>
</form>
    <div class="gray-section"></div>
</div>
