body{
    background-color: darkorchid;
}
.head
{
    padding-top: 2%;
}
.image
{
    width:15%;
}
.content
{
    padding-top: 15%;
}
.text
{
    color:white;
    font-size: 35px;
    font-weight: 500;
}
.editbutton
{
    border-radius: 25px;
    background-color: rgb(88, 88, 88);
    border:none;
    padding:1%;
}