<body>
    <div class="container">
   <div class="row head">
    <img src="../../assets/logo-white.png" class="image">
   </div>
   <div class="row content">
       <div class="row">
           <div class="col-lg-6">
                 <p class="text">Templates Which<br>You Can Choose</p>
                 <div class="row">
                    <button class="editbutton col-lg-3" (click)="edit()">Edit</button>
            </div>
            </div>
            <div class="col-lg-6">
                <img src="../../assets/download.jpg" width="400px" height="500px">
            </div>
        </div>
   
    </div>
</div>
</body>